/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css goes below this line */
/* NOTE: Please use class names in the elements themselves where possible! */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.raleway-font-bold{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.raleway-font-regular{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* background animation */
/* https://codepen.io/alvarotrigo/pen/dyzgOER */
:root {
  --main-gradient: #F5C5F8;
  --secondary-gradient: #F3B0F8;
  --background-color: #B5BDFA;
  --text-custom-dark: #080F6C;
}
html {
  height: 100vh;
  width: 100%; 
  background-repeat:repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: linear-gradient(-135deg, var(--background-color) 0%, var(--background-color) 25%, var(--main-gradient) 51%, var(--secondary-gradient) 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
          animation: AnimateBG 10s ease infinite;
}
.text-custom-dark{
  color: var(--text-custom-dark);
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* breathe icon animation */
/* https://codepen.io/chris22smith/pen/NWwzYrZ */
.circles {
  position: relative;
  
  > div {
    animation: growAndFade 4s infinite ease-in-out alternate;
    background-color: #B5BDFA;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .circle1 {
    animation-delay: 1s;    
  }
  .circle2 {
    animation-delay: 2s; 
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.navbar{
  background-color: var(--background-color) !important;
}

/* .drawer {
  z-index: 6;
} */

/* .drawer-side {
  border-radius: 0 5rem 5rem 0 !important;
} */

/* Sliding container animation */
section.transition {
  position: relative !important;
  animation-duration: 1s;
  animation-name: transition;
  animation-timing-function: linear;
  border-radius: 10rem / 30px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@keyframes transition {
  0%   {bottom: -400px;}
  25%  {bottom: -300px;}
  50%  {bottom: -200px;}
  75%  {bottom: -100px}
  100% {bottom: 0px;}
}