/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css goes below this line */

/* background animation */
/* https://codepen.io/alvarotrigo/pen/dyzgOER */
:root {
  --main-gradient: #F5C5F8;
  --background-color: #B5BDFA;
}
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-90deg, var(--background-color) 0%, var(--background-color) 25%, var(--background-color) 51%, var(--main-gradient) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}