/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css goes below this line */

/* background animation */
/* https://codepen.io/alvarotrigo/pen/dyzgOER */
:root {
  --main-gradient: #F5C5F8;
  --secondary-gradient: #F3B0F8;
  --background-color: #B5BDFA;
}
body {
  /* height: 100vh; */
  width: 100%; 
  background-repeat:no-repeat;
  background-size: cover;
  background-image: linear-gradient(-135deg, var(--background-color) 0%, var(--background-color) 25%, var(--main-gradient) 51%, var(--secondary-gradient) 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
          animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* breathe icon animation */
/* https://codepen.io/chris22smith/pen/NWwzYrZ */
.circles {
  position: relative;
  
  > div {
    animation: growAndFade 4s infinite ease-in-out alternate;
    background-color: #B5BDFA;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .circle1 {
    animation-delay: 1s;    
  }
  .circle2 {
    animation-delay: 2s; 
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

body {
  align-items: center;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  margin: 0;
}

.drawer {
  z-index: 6;
}

.drawer-side {
  border-radius: 0 15% 15% 0 !important;
}

/* section.transition {
  position: relative !important;
  animation-duration: 1s;
  animation-name: transition;
  animation-timing-function: linear;
  background-color: #ffffff ;
  border-radius: 50rem/10rem;
  padding: 5rem 60rem;
  z-index: 4;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@keyframes transition {
  0%   {bottom: -400px;}
  25%  {bottom: -300px;}
  50%  {bottom: -200px;}
  75%  {bottom: -100px}
  100% {bottom: 0px;}
} */

/* MOBILE Breaking Point */

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
}